<?xml version="1.0"?>
<configuration>

  <!-- WIF -->
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>


  <appSettings>
    <add key="TrustFabricDocument" value="TrustFabric\gfipm-trust-fabric-model2-sample-signed.xml"/>
    <add key="UploadFolder" value="Uploads"/>
    <add key="UploadFilePrefix" value="UploadedFile_"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="false">
      <!-- WIF -->
      <assemblies>
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>

  </system.web>
  <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>-->
  <system.serviceModel>
    <services>
      <service name="CommercialVehicleCollisionWebServiceProvider.CommercialVehicleCollisionWebService" behaviorConfiguration="wspBehavior">

        <!-- HTTPS endpoint-->
        <endpoint address="" binding="wspCustomSecuredBinding" bindingNamespace="urn:examples.com:techniques:iepd:commercialVehicleCollision:ws:2.0" behaviorConfiguration="wspEndpointBehavior" contract="ICommercialVehicleCollisionPortType"/>

        <!--<endpoint address="mex" binding="wspCustomSecuredBinding" contract="IMetadataExchange" bindingNamespace="urn:examples.com:techniques:iepd:commercialVehicleCollision:ws:2.0"/>-->
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" bindingNamespace="urn:examples.com:techniques:iepd:commercialVehicleCollision:ws:2.0"/>

      </service>
    </services>

    <bindings>
      <wspCustomSecuredBinding enableStrTransform="True"/>
    </bindings>

    <behaviors>

      <serviceBehaviors>
        <behavior name="wspBehavior">
          <!-- Behavior extension to make the service claims aware -->

          <!-- Enable WIF -->
          <federatedServiceHostConfiguration/>

          <serviceSecurityAudit auditLogLocation="Application" messageAuthenticationAuditLevel="SuccessOrFailure" serviceAuthorizationAuditLevel="SuccessOrFailure" suppressAuditFailure="false"/>

          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <!--<serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>-->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"/>
          <!--<serviceMetadata  httpGetEnabled="true"/>-->
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>

          <serviceCredentials>
            <!-- Certificate Configuration - ha50wspm2 -->
            <serviceCertificate findValue="9c 9c 76 8a 55 52 ad 54 f0 20 d3 8b d2 d9 db 69 25 b6 f6 3a" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Common.CustomX509CertificateValidator, Common" trustedStoreLocation="LocalMachine"/>
            </clientCertificate>

            <!-- Working? -->
            <!--<issuedTokenAuthentication certificateValidationMode="PeerTrust" allowUntrustedRsaIssuers="true"/>-->
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>

        <behavior name="wspEndpointBehavior">
          <customMessageInspector/>
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <extensions>
      <bindingExtensions>
        <add name="wspCustomSecuredBinding" type="Common.WspCustomSecuredBindingCollectionElement, Common"/>
      </bindingExtensions>

      <!--<bindingElementExtensions>
        <add name="customTextMessageEncoding" type="CustomTextMessageEncoder.CustomTextMessageEncodingElement, CustomTextMessageEncoder"/>  
      </bindingElementExtensions>-->

      <behaviorExtensions>
        <!-- This behavior extension will enable the service host to be Claims aware -->
        <add name="federatedServiceHostConfiguration" type="Microsoft.IdentityModel.Configuration.ConfigureServiceHostBehaviorExtensionElement, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>

        <add name="customMessageInspector" type="CommercialVehicleCollisionWebservice.CommercialVehicleInspectorBehaviorElement, WebServiceProviderWebHost, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>

      </behaviorExtensions>
    </extensions>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="True" logMessagesAtTransportLevel="true" maxMessagesToLog="30000" maxSizeOfMessageToLog="524288"/>
    </diagnostics>
  </system.serviceModel>

  <microsoft.identityModel>
    <service>
      <audienceUris mode="Always">
        <!-- Entity ID Configuration - ha50wspm2 -->
        <add value="ha50wspm2"/>
      </audienceUris>

      <!--<applicationService>
        <claimTypeRequired>
          <claimType type="gfipm:2.0:user:SurName" />
          <claimType type="gfipm:2.0:user:GivenName" />
          <claimType type="gfipm:2.0:user:EmailAddressText" />
          <claimType type="gfipm:2.0:user:TelephoneNumber" />
          <claimType type="gfipm:2.0:user:FederationId" />
        </claimTypeRequired>
      </applicationService>-->

      <!-- Do I need this section ????????? -->
      <issuerNameRegistry type="CommercialVehicleCollisionWebServiceProvider.WspTrustedIssuerNameRegistry, CommercialVehicleCollisionWebServiceProvider"/>

      <securityTokenHandlers>
        <!-- Temporariliy Remove For Bearer Token-->
        <remove type="Microsoft.IdentityModel.Tokens.Saml2.Saml2SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add type="CommercialVehicleCollisionWebservice.CustomSaml2SecurityTokenHandler, WebServiceProviderWebHost">
          <!--<samlSecurityTokenRequirement issuerCertificateRevocationMode="NoCheck" issuerCertificateValidationMode="Custom" issuerCertificateValidator="Common.CustomX509CertificateValidator, Common"/>-->
        </add>

        <!--<remove type="Microsoft.IdentityModel.Tokens.X509SecurityTokenHandler"/>
        <add type="CommercialVehicleCollisionWebservice.WspX509TokenHandler, WebServiceProviderWebHost"/>-->

      </securityTokenHandlers>

      <claimsAuthenticationManager type="CommercialVehicleCollisionWebServiceProvider.WspClaimsTransformer,CommercialVehicleCollisionWebServiceProvider"/>


      <!-- TODO: Document the need for the endpoint address in the <policy resource> section below -->
      <!-- Need to add policies for Metro -->

      <!-- Endpoint Address Configuration - ha50wspm2 -->
      <claimsAuthorizationManager type="CommercialVehicleCollisionWebServiceProvider.WspClaimsAuthorizationManager,CommercialVehicleCollisionWebServiceProvider">
        <policy resource="https://ha50wspm2:8553/Model2/CommercialVehicleCollisionWsp.svc" action="urn:examples.com:techniques:iepd:commercialVehicleCollision:ws:2.0:CommercialVehicleCollisionPortType:getDocumentRequest">

          <and>
            <claim claimType="gfipm:2.0:entity:TechnicalRole" claimValue="WSC" claimValueType="String" claimValueOperation="Equal"/>
            <and>
              <or>
                <claim claimType="gfipm:2.0:entity:OwnerAgencyCountryCode" claimValue="US" claimValueType="String" claimValueOperation="Equal"/>
                <claim claimType="gfipm:2.0:entity:OwnerAgencyCountryCode" claimValue="VQ" claimValueType="String" claimValueOperation="Equal"/>
              </or>
              <and>
                <claim claimType="gfipm:2.0:user:SecurityClearanceLevelCode" claimValue="Secret" claimValueType="String" claimValueOperation="Equal"/>
                <claim claimType="gfipm:2.0:user:CitizenshipCode" claimValue="US" claimValueType="String" claimValueOperation="Equal"/>
              </and>
            </and>
          </and>

        </policy>
       
        <policy resource="https://ha50wspm2:8553/Model2/CommercialVehicleCollisionWsp.svc" action="urn:examples.com:techniques:iepd:commercialVehicleCollision:ws:2.0:CommercialVehicleCollisionPortType:uploadPhotoRequest">

          <and>
            <claim claimType="gfipm:2.0:entity:TechnicalRole" claimValue="WSC" claimValueType="String" claimValueOperation="Equal"/>
            <and>
              <or>
                <claim claimType="gfipm:2.0:entity:OwnerAgencyCountryCode" claimValue="US" claimValueType="String" claimValueOperation="Equal"/>
                <claim claimType="gfipm:2.0:entity:OwnerAgencyCountryCode" claimValue="VQ" claimValueType="String" claimValueOperation="Equal"/>
              </or>
              <and>
                <claim claimType="gfipm:2.0:user:SecurityClearanceLevelCode" claimValue="Secret" claimValueType="String" claimValueOperation="Equal"/>
                <claim claimType="gfipm:2.0:user:CitizenshipCode" claimValue="US" claimValueType="String" claimValueOperation="Equal"/>
              </and>
            </and>
          </and>
        </policy>

        <policy resource="https://ha50wspm2:8553/Model2/CommercialVehicleCollisionWsp.svc" action="urn:examples.com:techniques:iepd:commercialVehicleCollision:ws:2.0:CommercialVehicleCollisionPortType:downloadDataRequest">

          <and>
            <claim claimType="gfipm:2.0:entity:TechnicalRole" claimValue="WSC" claimValueType="String" claimValueOperation="Equal"/>
            <and>
              <or>
                <claim claimType="gfipm:2.0:entity:OwnerAgencyCountryCode" claimValue="US" claimValueType="String" claimValueOperation="Equal"/>
                <claim claimType="gfipm:2.0:entity:OwnerAgencyCountryCode" claimValue="VQ" claimValueType="String" claimValueOperation="Equal"/>
              </or>
              <and>
                <claim claimType="gfipm:2.0:user:SecurityClearanceLevelCode" claimValue="Secret" claimValueType="String" claimValueOperation="Equal"/>
                <claim claimType="gfipm:2.0:user:CitizenshipCode" claimValue="US" claimValueType="String" claimValueOperation="Equal"/>
              </and>
            </and>
          </and>
        </policy>

      </claimsAuthorizationManager>

    </service>
  </microsoft.identityModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Critical,Error">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>

      <source name="System.ServiceModel.MessageLogging" switchValue="Critical,Error" logKnownPii="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>

      <source name="Microsoft.IdentityModel" switchValue="Verbose">
        <listeners>
          <add name="wif"/>
        </listeners>
      </source>

      <source name="System.IdentityModel.MessageLogging" switchValue="Verbose, ActivityTracing" logKnownPii="true">
        <listeners>
          <add name="xmlIdentity"/>
        </listeners>
      </source>

      <source name="System.IdentityModel" switchValue="Verbose, ActivityTracing" logKnownPii="true">
        <listeners>
          <add name="xmlIdentity"/>
        </listeners>
      </source>

      <source name="MyTraceSource" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="myListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\temp\Model2Wsp-MyTraceSource.log" type="System.Diagnostics.TextWriterTraceListener" name="myListener"/>
      <add initializeData="c:\temp\Model2Wsp-WcfLog.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml"/>
      <add initializeData="c:\temp\WSP-WIF.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="wif"/>
      <add initializeData="c:\temp\IdentityTrace.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xmlIdentity"/>
    </sharedListeners>

    <trace autoflush="true"/>
  </system.diagnostics>

  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>

</configuration>
