<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EndPointName" value="WspServiceEndpoint"/>
    <!--<add key="EndPointName" value="CommercialVehicleCollisionWebservice.CommercialVehicleCollisionPortType-HTTPS-WCF"/>-->
    <!--<add key="EndPointName" value="CommercialVehicleCollisionWebservice.CommercialVehicleCollisionPortType-HTTPS-Metro"/>-->
  </appSettings>

  <system.serviceModel>

    <client>
      <!-- CURRENT WORKING WCF Endpoint-->
      <!-- binding="wspCustomSecuredBinding"  
           binding="customBinding" bindingConfiguration="CustomSecureTransport" -->

      <!-- Endpoint Address Configuration - ha50wspm1 -->
      <endpoint address="https://ha50wspm1:8443/Model1/CommercialVehicleCollisionPortType.svc" binding="customBinding" bindingConfiguration="CustomSecureTransport" 
                behaviorConfiguration="wsHttpEndpointBehavior" contract="ICommercialVehicleCollisionPortType" name="WspServiceEndpoint">
        <identity>
          <!-- Certificate Configuration - ha50wspm1 -->
          <certificateReference findValue="11 ee dc 0e 58 e0 ba c8 70 33 25 08 72 4b 4d 60 09 a8 d2 ad" 
                                storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>

        </identity>
      </endpoint> 

      <!-- CURRENT WORKING WCF Endpoint-->
      <!-- binding="wspCustomSecuredBinding"  
           binding="customBinding" bindingConfiguration="CustomSecureTransport" -->
      <endpoint address="https://ha50wspm1:8443/name/CommercialVehicleCollisionPortType.svc" binding="wspCustomSecuredBinding" behaviorConfiguration="wsHttpEndpointBehavior" contract="ICommercialVehicleCollisionPortType" name="WspServiceEndpoint-BindingExtension">
        <identity>
          <!-- Certificate Configuration - ha50wspm1 -->
          <certificateReference findValue="11 ee dc 0e 58 e0 ba c8 70 33 25 08 72 4b 4d 60 09 a8 d2 ad" 
                                storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>

        </identity>
      </endpoint>

      <!-- Metro Wsp Endpoint -->
      <!-- binding="customBinding" bindingConfiguration="CustomSecureTransport" -->
      <endpoint address="https://CUREWSP:8181/m1wsp/services/cvc" binding="wspCustomSecuredBinding" behaviorConfiguration="wsHttpEndpointBehavior"
          contract="ICommercialVehicleCollisionPortType" name="WspServiceEndpoint-Metro" >
        <identity>
          <certificateReference findValue="90 5f 70 86 61 2b b9 d5 2e b3 63 2a cd 54 78 5d d4 e1 bc 77"
                             storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
        </identity>
      </endpoint>


    </client>

    <bindings>

      <customBinding>
        <binding name="CustomSecureTransport" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00">
          
          <reliableSession ordered="True"/>
          
          <security defaultAlgorithmSuite="Basic256Sha256" authenticationMode="MutualCertificateDuplex" includeTimestamp="true" requireDerivedKeys="false" 
                    allowSerializedSigningTokenOnReply="true" messageProtectionOrder="SignBeforeEncrypt" 
                    messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12BasicSecurityProfile10" 
                    requireSignatureConfirmation="true"/>

          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" writeEncoding="utf-8"/>

          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="200000000" allowCookies="false" authenticationScheme="Anonymous" 
                          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="200000000" 
                          proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" 
                          requireClientCertificate="true"/>
        </binding>

      </customBinding>

    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="wsHttpEndpointBehavior">
          <clientCredentials>

            <!-- Certificate Configuration - ha50wscm1 -->
            <clientCertificate findValue="2f 3d 1d 50 5d 07 51 59 3b 6a b9 c0 4c 1c 07 cd d4 c9 90 c3"
                               x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>
            <serviceCertificate>
              <!--<authentication certificateValidationMode="PeerTrust" trustedStoreLocation="LocalMachine"/>-->
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Common.CustomX509CertificateValidator, Common" trustedStoreLocation="LocalMachine"/>
            </serviceCertificate>
          </clientCredentials>

          <!-- None, Sign, EncryptAndSign-->
          <!--<protectionLevel level="Sign"/>-->

        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <bindingExtensions>
        <add name="wspCustomSecuredBinding" type="Common.WspCustomSecuredBindingCollectionElement, Common"/>
      </bindingExtensions>
      <behaviorExtensions>
        <!--<add name="protectionLevel" type="Common.ProtectionLevelBehaviorElement, Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>-->
      </behaviorExtensions>
    </extensions>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="true" maxMessagesToLog="3000" maxSizeOfMessageToLog="524288"/>
    </diagnostics>

  </system.serviceModel>

  <system.diagnostics>

    <sources>

      <source name="System.ServiceModel" switchValue="Critical,Error">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Critical,Error" logKnownPii="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="MyTraceSource" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name ="myListener"/>
        </listeners>
      </source>

    </sources>
    <sharedListeners>
      <add initializeData="C:\temp\Model1Wsc-MyTraceSource.log" type="System.Diagnostics.TextWriterTraceListener" name="myListener"/>
      <add initializeData="C:\temp\Model1-WSC-WcfLog.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml"/>
    </sharedListeners>
    <trace autoflush="true"/>

  </system.diagnostics>

  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
